.home-page {
    button {
        margin-top: .5rem;
        margin-left: 1.5rem; 
        height: 3rem;
        font-size: 2rem;
        font-weight: $extra-bold;
        text-transform: none;
    }
}